body {
    background-color: #00b9ff;
}

.white {
    height: 1500px;
    width: 1500px;
    margin-bottom:-500px;
}

.pink{
    height: 1500px;
    width: 1500px;
    margin-top: -1900px;
}

h1{
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding-left: 300px;
}