body {
    background-color: #00b9ff;
}

.white {
    height: 1500px;
    width: 1500px;
    margin-bottom:-500px;
}

.pink{
    height: 1500px;
    width: 1500px;
    margin-top: -1900px;
    mix-blend-mode: multiply;
}

h1{
    font-size: 125px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding-left: 50px;
    padding-top: 75px;
}

h2{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    padding-left: 50px;
    padding-top: 90px;
}

h3{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    padding-left: 280px;
    margin-top: -90px;
}