body {
    background-color: #00b9ff;
}

.white {
    position: relative;
    height: 1500px;
    width: 1500px;
    margin-bottom:-500px;
}

.pink{
    position: relative;
    height: 1500px;
    width: 1500px;
    margin-top: -1900px;
}

